<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chanyun.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.chanyun.entity.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="p_id" jdbcType="INTEGER" property="parentId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    id, icon, name, state, url, p_id,sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.chanyun.entity.Menu">
    insert into tb_menu (id, icon, name, 
      state, url, p_id,sort)
    values (#{id,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},#{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.chanyun.entity.Menu">
    insert into tb_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="parentId != null">
        p_id,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chanyun.entity.Menu">
    update tb_menu
    <set>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        p_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        p_id = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chanyun.entity.Menu">
    update tb_menu
    set icon = #{icon,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      p_id = #{parentId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectMenuByMerchantId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from tb_menu
    where id in(
    	select menu_id from tb_role_menu where role_id in (select role_id from tb_merchant_role where merchant_id = #{merchantId,jdbcType=INTEGER})
    ) and state=0
  </select>
  
  <select id="selectMenuByPage" parameterType="com.chanyun.entity.Menu" resultMap="BaseResultMap">
	  	select 
	    <include refid="Base_Column_List" />
	    from tb_menu
    <trim prefix="where" prefixOverrides="and">
      <if test="icon != null">
        and icon = #{icon,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="state != null">
        and state = #{state,jdbcType=INTEGER}
      </if>
      <if test="url != null">
        and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null">
        and p_id = #{parentId,jdbcType=INTEGER}
      </if>
    </trim>
  </select>
  
  <select id="selectMenuByparams" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
	    <include refid="Base_Column_List" />
	    from tb_menu
    <trim prefix="where" prefixOverrides="and">
      <if test="icon != null">
        and icon = #{icon,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="state != null">
        and state = #{state,jdbcType=INTEGER}
      </if>
      <if test="url != null">
        and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null">
        and p_id = #{parentId,jdbcType=INTEGER}
      </if>
    </trim>
  </select>
</mapper>