<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chanyun.dao.MerchantAccountMapper">
  <resultMap id="BaseResultMap" type="com.chanyun.entity.MerchantAccount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
    <result column="account_password" jdbcType="VARCHAR" property="accountPassword" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="temple_id" jdbcType="INTEGER" property="templeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_number, account_password, account_name, temple_id, status, remark, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_merchant_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_merchant_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.chanyun.entity.MerchantAccount">
    insert into tb_merchant_account (id, account_number, account_password, 
      account_name, temple_id, status, 
      remark, create_time)
    values (#{id,jdbcType=INTEGER}, #{accountNumber,jdbcType=VARCHAR},MD5( #{accountPassword,jdbcType=VARCHAR}), 
      #{accountName,jdbcType=VARCHAR}, #{templeId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.chanyun.entity.MerchantAccount">
    insert into tb_merchant_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accountNumber != null">
        account_number,
      </if>
      <if test="accountPassword != null">
        account_password,
      </if>
      <if test="accountName != null">
        account_name,
      </if>
      <if test="templeId != null">
        temple_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountNumber != null">
        #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountPassword != null">
        md5(#{accountPassword,jdbcType=VARCHAR}),
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="templeId != null">
        #{templeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chanyun.entity.MerchantAccount">
    update tb_merchant_account
    <set>
      <if test="accountNumber != null">
        account_number = #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountPassword != null">
        account_password = #{accountPassword,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="templeId != null">
        temple_id = #{templeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chanyun.entity.MerchantAccount">
    update tb_merchant_account
    set account_number = #{accountNumber,jdbcType=VARCHAR},
      account_password = #{accountPassword,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      temple_id = #{templeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByPage" parameterType="com.chanyun.entity.MerchantAccount" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from tb_merchant_account
    <trim prefix="where" prefixOverrides="and">
      <if test="accountNumber != null">
        account_number = #{accountNumber,jdbcType=VARCHAR}
      </if>
      <if test="accountPassword != null">
        account_password = #{accountPassword,jdbcType=VARCHAR}
      </if>
      <if test="accountName != null">
        account_name = #{accountName,jdbcType=VARCHAR}
      </if>
      <if test="templeId != null">
        temple_id = #{templeId,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER}
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
     </trim>
  </select>
  
  <select id="findCountByParams" parameterType="java.util.Map" resultType="java.lang.Integer">
  	 select count(1) from tb_merchant_account
	    <trim prefix="where" prefixOverrides="and">
	      <if test="accountNumber != null">
	       and account_number = #{accountNumber,jdbcType=VARCHAR}
	      </if>
	      <if test="accountPassword != null">
	       and account_password = MD5(#{accountPassword,jdbcType=VARCHAR})
	      </if>
	      <if test="accountName != null">
	       and account_name = #{accountName,jdbcType=VARCHAR}
	      </if>
	      <if test="templeId != null">
	       and temple_id = #{templeId,jdbcType=INTEGER}
	      </if>
	      <if test="status != null">
	       and status = #{status,jdbcType=INTEGER}
	      </if>
	      <if test="remark != null">
	       and remark = #{remark,jdbcType=VARCHAR}
	      </if>
	      <if test="createTime != null">
	       and create_time = #{createTime,jdbcType=TIMESTAMP}
	      </if>
	    </trim>
  </select>
  
  <select id="selectByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
  	 select 
  	 <include refid="Base_Column_List"></include> 
  	 from tb_merchant_account
	    <trim prefix="where" prefixOverrides="and">
	      <if test="accountNumber != null">
	       and account_number = #{accountNumber,jdbcType=VARCHAR}
	      </if>
	      <if test="accountPassword != null">
	        and account_password = MD5(#{accountPassword,jdbcType=VARCHAR})
	      </if>
	      <if test="accountName != null">
	        and account_name = #{accountName,jdbcType=VARCHAR}
	      </if>
	      <if test="templeId != null">
	        and temple_id = #{templeId,jdbcType=INTEGER}
	      </if>
	      <if test="status != null">
	        and status = #{status,jdbcType=INTEGER}
	      </if>
	      <if test="remark != null">
	       	and remark = #{remark,jdbcType=VARCHAR}
	      </if>
	      <if test="createTime != null">
	       	and create_time = #{createTime,jdbcType=TIMESTAMP}
	      </if>
	    </trim>
  </select>
  
</mapper>