<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chanyun.dao.MeritsMapper">
  <resultMap id="BaseResultMap" type="com.chanyun.entity.Merits">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merits_number" jdbcType="VARCHAR" property="meritsNumber" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_year" jdbcType="INTEGER" property="customerYear" />
    <result column="customer_month" jdbcType="INTEGER" property="customerMonth" />
    <result column="customer_day" jdbcType="INTEGER" property="customerDay" />
    <result column="customer_hour" jdbcType="VARCHAR" property="customerHour" />
    <result column="customer_address_province" jdbcType="VARCHAR" property="customerAddressProvince" />
    <result column="customer_address_city" jdbcType="VARCHAR" property="customerAddressCity" />
    <result column="customer_address_area" jdbcType="VARCHAR" property="customerAddressArea" />
    <result column="customer_address" jdbcType="VARCHAR" property="customerAddress" />
    <result column="merits_type" jdbcType="INTEGER" property="meritsType" />
    <result column="merits_name" jdbcType="VARCHAR" property="meritsName" />
    <result column="merits_account" jdbcType="INTEGER" property="meritsAccount" />
    <result column="temple_id" jdbcType="INTEGER" property="templeId" />
    <result column="god_name" jdbcType="VARCHAR" property="godName" />
    <result column="temple_house_name" jdbcType="VARCHAR" property="templeHouseName" />
    <result column="merits_status" jdbcType="INTEGER" property="meritsStatus" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="completion_time" jdbcType="TIMESTAMP" property="completionTime" />
    <result column="var1" jdbcType="VARCHAR" property="var1" />
    <result column="var2" jdbcType="VARCHAR" property="var2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, merits_number, user_id, customer_name, customer_year, customer_month, customer_day, 
    customer_hour, customer_address_province, customer_address_city, customer_address_area, 
    customer_address, merits_type, merits_name, merits_account, temple_id, god_name, 
    temple_house_name, merits_status, apply_time, completion_time, var1, var2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_merits
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_merits
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.chanyun.entity.Merits">
    insert into tb_merits (id, merits_number, user_id, 
      customer_name, customer_year, customer_month, 
      customer_day, customer_hour, customer_address_province, 
      customer_address_city, customer_address_area, 
      customer_address, merits_type, merits_name, 
      merits_account, temple_id, god_name, 
      temple_house_name, merits_status, apply_time, 
      completion_time, var1, var2
      )
    values (#{id,jdbcType=INTEGER}, #{meritsNumber,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{customerName,jdbcType=VARCHAR}, #{customerYear,jdbcType=INTEGER}, #{customerMonth,jdbcType=INTEGER}, 
      #{customerDay,jdbcType=INTEGER}, #{customerHour,jdbcType=VARCHAR}, #{customerAddressProvince,jdbcType=VARCHAR}, 
      #{customerAddressCity,jdbcType=VARCHAR}, #{customerAddressArea,jdbcType=VARCHAR}, 
      #{customerAddress,jdbcType=VARCHAR}, #{meritsType,jdbcType=INTEGER}, #{meritsName,jdbcType=VARCHAR}, 
      #{meritsAccount,jdbcType=INTEGER}, #{templeId,jdbcType=INTEGER}, #{godName,jdbcType=VARCHAR}, 
      #{templeHouseName,jdbcType=VARCHAR}, #{meritsStatus,jdbcType=INTEGER}, #{applyTime,jdbcType=TIMESTAMP}, 
      #{completionTime,jdbcType=TIMESTAMP}, #{var1,jdbcType=VARCHAR}, #{var2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.chanyun.entity.Merits">
    insert into tb_merits
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="meritsNumber != null">
        merits_number,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="customerYear != null">
        customer_year,
      </if>
      <if test="customerMonth != null">
        customer_month,
      </if>
      <if test="customerDay != null">
        customer_day,
      </if>
      <if test="customerHour != null">
        customer_hour,
      </if>
      <if test="customerAddressProvince != null">
        customer_address_province,
      </if>
      <if test="customerAddressCity != null">
        customer_address_city,
      </if>
      <if test="customerAddressArea != null">
        customer_address_area,
      </if>
      <if test="customerAddress != null">
        customer_address,
      </if>
      <if test="meritsType != null">
        merits_type,
      </if>
      <if test="meritsName != null">
        merits_name,
      </if>
      <if test="meritsAccount != null">
        merits_account,
      </if>
      <if test="templeId != null">
        temple_id,
      </if>
      <if test="godName != null">
        god_name,
      </if>
      <if test="templeHouseName != null">
        temple_house_name,
      </if>
      <if test="meritsStatus != null">
        merits_status,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="completionTime != null">
        completion_time,
      </if>
      <if test="var1 != null">
        var1,
      </if>
      <if test="var2 != null">
        var2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="meritsNumber != null">
        #{meritsNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerYear != null">
        #{customerYear,jdbcType=INTEGER},
      </if>
      <if test="customerMonth != null">
        #{customerMonth,jdbcType=INTEGER},
      </if>
      <if test="customerDay != null">
        #{customerDay,jdbcType=INTEGER},
      </if>
      <if test="customerHour != null">
        #{customerHour,jdbcType=VARCHAR},
      </if>
      <if test="customerAddressProvince != null">
        #{customerAddressProvince,jdbcType=VARCHAR},
      </if>
      <if test="customerAddressCity != null">
        #{customerAddressCity,jdbcType=VARCHAR},
      </if>
      <if test="customerAddressArea != null">
        #{customerAddressArea,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null">
        #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="meritsType != null">
        #{meritsType,jdbcType=INTEGER},
      </if>
      <if test="meritsName != null">
        #{meritsName,jdbcType=VARCHAR},
      </if>
      <if test="meritsAccount != null">
        #{meritsAccount,jdbcType=INTEGER},
      </if>
      <if test="templeId != null">
        #{templeId,jdbcType=INTEGER},
      </if>
      <if test="godName != null">
        #{godName,jdbcType=VARCHAR},
      </if>
      <if test="templeHouseName != null">
        #{templeHouseName,jdbcType=VARCHAR},
      </if>
      <if test="meritsStatus != null">
        #{meritsStatus,jdbcType=INTEGER},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completionTime != null">
        #{completionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="var1 != null">
        #{var1,jdbcType=VARCHAR},
      </if>
      <if test="var2 != null">
        #{var2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chanyun.entity.Merits">
    update tb_merits
    <set>
      <if test="meritsNumber != null">
        merits_number = #{meritsNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerYear != null">
        customer_year = #{customerYear,jdbcType=INTEGER},
      </if>
      <if test="customerMonth != null">
        customer_month = #{customerMonth,jdbcType=INTEGER},
      </if>
      <if test="customerDay != null">
        customer_day = #{customerDay,jdbcType=INTEGER},
      </if>
      <if test="customerHour != null">
        customer_hour = #{customerHour,jdbcType=VARCHAR},
      </if>
      <if test="customerAddressProvince != null">
        customer_address_province = #{customerAddressProvince,jdbcType=VARCHAR},
      </if>
      <if test="customerAddressCity != null">
        customer_address_city = #{customerAddressCity,jdbcType=VARCHAR},
      </if>
      <if test="customerAddressArea != null">
        customer_address_area = #{customerAddressArea,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null">
        customer_address = #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="meritsType != null">
        merits_type = #{meritsType,jdbcType=INTEGER},
      </if>
      <if test="meritsName != null">
        merits_name = #{meritsName,jdbcType=VARCHAR},
      </if>
      <if test="meritsAccount != null">
        merits_account = #{meritsAccount,jdbcType=INTEGER},
      </if>
      <if test="templeId != null">
        temple_id = #{templeId,jdbcType=INTEGER},
      </if>
      <if test="godName != null">
        god_name = #{godName,jdbcType=VARCHAR},
      </if>
      <if test="templeHouseName != null">
        temple_house_name = #{templeHouseName,jdbcType=VARCHAR},
      </if>
      <if test="meritsStatus != null">
        merits_status = #{meritsStatus,jdbcType=INTEGER},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completionTime != null">
        completion_time = #{completionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="var1 != null">
        var1 = #{var1,jdbcType=VARCHAR},
      </if>
      <if test="var2 != null">
        var2 = #{var2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chanyun.entity.Merits">
    update tb_merits
    set merits_number = #{meritsNumber,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      customer_year = #{customerYear,jdbcType=INTEGER},
      customer_month = #{customerMonth,jdbcType=INTEGER},
      customer_day = #{customerDay,jdbcType=INTEGER},
      customer_hour = #{customerHour,jdbcType=VARCHAR},
      customer_address_province = #{customerAddressProvince,jdbcType=VARCHAR},
      customer_address_city = #{customerAddressCity,jdbcType=VARCHAR},
      customer_address_area = #{customerAddressArea,jdbcType=VARCHAR},
      customer_address = #{customerAddress,jdbcType=VARCHAR},
      merits_type = #{meritsType,jdbcType=INTEGER},
      merits_name = #{meritsName,jdbcType=VARCHAR},
      merits_account = #{meritsAccount,jdbcType=INTEGER},
      temple_id = #{templeId,jdbcType=INTEGER},
      god_name = #{godName,jdbcType=VARCHAR},
      temple_house_name = #{templeHouseName,jdbcType=VARCHAR},
      merits_status = #{meritsStatus,jdbcType=INTEGER},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      completion_time = #{completionTime,jdbcType=TIMESTAMP},
      var1 = #{var1,jdbcType=VARCHAR},
      var2 = #{var2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
 
  <select id="selectByPage" parameterType="com.chanyun.entity.Merits" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from tb_merits
    <trim prefix="where" prefixOverrides="and">
      <if test="meritsNumber != null and meritsNumber !=''">
        and merits_number = #{meritsNumber,jdbcType=VARCHAR}
      </if>
      <if test="userId != null and userId !=''">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="customerName != null and customerName !=''">
        and customer_name = #{customerName,jdbcType=VARCHAR}
      </if>
      <if test="customerYear != null and customerYear !=''">
        and customer_year = #{customerYear,jdbcType=INTEGER}
      </if>
      <if test="customerMonth != null and customerMonth !=''">
        and customer_month = #{customerMonth,jdbcType=INTEGER}
      </if>
      <if test="customerDay != null and customerDay !=''">
        and customer_day = #{customerDay,jdbcType=INTEGER}
      </if>
      <if test="customerHour != null and customerHour !=''">
        and customer_hour = #{customerHour,jdbcType=VARCHAR}
      </if>
      <if test="customerAddressProvince != null and customerAddressProvince !=''">
        and customer_address_province = #{customerAddressProvince,jdbcType=VARCHAR}
      </if>
      <if test="customerAddressCity != null and customerAddressCity !=''">
        and customer_address_city = #{customerAddressCity,jdbcType=VARCHAR}
      </if>
      <if test="customerAddressArea != null and customerAddressArea !=''">
        and customer_address_area = #{customerAddressArea,jdbcType=VARCHAR}
      </if>
      <if test="customerAddress != null and customerAddress !=''">
        and customer_address = #{customerAddress,jdbcType=VARCHAR}
      </if>
      <if test="meritsType != null and meritsType !=''">
        and merits_type = #{meritsType,jdbcType=INTEGER}
      </if>
      <if test="meritsName != null and meritsName !=''">
        and merits_name = #{meritsName,jdbcType=VARCHAR}
      </if>
      <if test="meritsAccount != null and meritsAccount !=''">
        and merits_account = #{meritsAccount,jdbcType=INTEGER}
      </if>
      <if test="templeId != null and templeId !=''">
        and temple_id = #{templeId,jdbcType=INTEGER}
      </if>
      <if test="godName != null and godName !=''">
        and god_name = #{godName,jdbcType=VARCHAR}
      </if>
      <if test="templeHouseName != null and templeHouseName !=''">
        and temple_house_name = #{templeHouseName,jdbcType=VARCHAR}
      </if>
      <if test="meritsStatus != null and meritsStatus !=''">
        and merits_status = #{meritsStatus,jdbcType=INTEGER}
      </if>
      <if test="applyTime != null">
        and apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="completionTime != null">
        and completion_time = #{completionTime,jdbcType=TIMESTAMP}
      </if>
      <if test="var1 != null and var1 !=''">
        and var1 = #{var1,jdbcType=VARCHAR}
      </if>
      <if test="var2 != null and var2 !=''">
        and var2 = #{var2,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
</mapper>